#windsOfChangeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.visualHolder {
  width: 300px;
  height: 300px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom: solid 1px white;
}
#settings {
  width: 300px;
  height: 300px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.settingsButton {
  position: absolute;
  min-width: 0px;
  min-height: 0px;
  width: 40px;
  height: 40px;
  margin-left: calc(50% - 23px);
  margin-top: 128px;
}
.settingsIcon {
  width: 30px;
  text-align: left;
  font-size: 30px;
}
#windLineHolder {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 150px 300px;
}
.arrow {
  position: absolute;
  width: 20%;
  height: 20%;
}
.statHolder {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.stat {
  margin: 10px;
  margin-bottom: 2px;
}
.inputHolder,
.inputHolderWide,
.buttonHolder {
  margin: 5px;
  display: flex;
  align-items: center;
}
.inputHolder > .tag {
  width: 100px;
  margin-right: 10px;
}
.inputHolder > input {
  width: 60px;
  height: 30px;
}
.inputHolderWide > .tag {
  width: 150px;
  margin-right: 10px;
}
.inputHolderWide > input {
  width: 60px;
  height: 30px;
}
.buttonHolder {
  justify-content: space-between;
}
.buttonHolder > .button {
  width: calc(50% - 5px);
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}
