<div style="width: 100%; height: 100%" class="bngApp">
  <link
    type="text/css"
    rel="stylesheet"
    href="/ui/modules/apps/windsOfChange/app.css"
  />

  <div id="windsOfChangeContainer">
    <div class="visualHolder">
      <div id="windLineHolder">
        <div class="windLine"></div>
        <div class="windLine"></div>
        <div class="windLine"></div>
        <div class="windLine"></div>
        <div class="windLine"></div>
        <div class="windLine"></div>
        <div class="windLine"></div>
      </div>
      <svg class="arrow" viewBox="0 -1080 1080 1080">
        <path
          fill="white"
          d="m200-120-40-40 320-720 320 720-40 40-280-120zm84-124 196-84 196 84-196-440zm196-84"
        />
      </svg>
    </div>
    <div class="statsHolder">
      <span>Wind speed: {{ windSpeed }} km/h</span>
      <span>Wind direction: {{ windDirection }}°</span>
    </div>
    <div class="buttonHolder">
      <md-button class="button" ng-click="startWind()">Start</md-button>
      <md-button class="button" ng-click="endWind()">Stop</md-button>
    </div>
  </div>
</div>
