<div style="width: 100%; height: 100%" class="bngApp">
  <link
    type="text/css"
    rel="stylesheet"
    href="/ui/modules/apps/windsOfChange/app.css"
  />

  <div id="windsOfChangeContainer">
    <div class="visualHolder">
      <div id="windLineHolder">
        <div ng-repeat="line in animationLines">
          <div ng-repeat="dash in line" style="{{ dash.style }}"></div>
        </div>
      </div>
      <svg class="arrow" viewBox="0 -1080 1080 1080">
        <path
          fill="white"
          d="m200-120-40-40 320-720 320 720-40 40-280-120zm84-124 196-84 196 84-196-440zm196-84"
        />
      </svg>
      <div id="settings" style="display: none;">
        <div class="inputHolder">
          <span class="tag">Preset:</span>
          <md-select
            id="presetSelect"
            ng-model="selectedPreset"
            ng-change="changePreset()"
          >
            <md-option ng-repeat="preset in presets" ng-value="preset"
              >{{preset.name}}</md-option
            >
          </md-select>
        </div>
        <div class="inputHolder">
          <span class="tag">Speed range:</span>
          <input
            id="minSpeedInput"
            class="input input-light"
            type="number"
            min="0"
            ng-model="selectedPreset.minSpeed"
            ng-value="selectedPreset.minSpeed"
            ng-change="changeSetting()"
          />
          <span>&nbsp;-&nbsp;</span>
          <input
            id="maxSpeedInput"
            class="input input-light"
            type="number"
            min="0"
            ng-model="selectedPreset.maxSpeed"
            ng-value="maxSpeed"
            ng-change="changeSetting()"
          />
          <span class="speedType">&nbsp;km/h</span>
        </div>
        <div class="inputHolder">
          <span class="tag">Angle range:</span>
          <input
            id="minAngleInput"
            class="input input-light"
            type="number"
            min="0"
            max="360"
            ng-model="selectedPreset.minAngle"
            ng-value="minAngle"
            ng-change="changeSetting()"
          />
          <span>&nbsp;-&nbsp;</span>
          <input
            id="maxAngleInput"
            class="input input-light"
            type="number"
            min="0"
            max="360"
            ng-model="selectedPreset.maxAngle"
            ng-value="maxAngle"
            ng-change="changeSetting()"
          />
          <span>&nbsp;°</span>
        </div>
        <div class="inputHolderWide">
          <span class="tag">Speed randomness:</span>
          <input
            id="speedGapMultInput"
            class="input input-light"
            type="number"
            min="1"
            ng-model="selectedPreset.speedGapMult"
            ng-value="speedGapMult"
            ng-change="changeSetting()"
          />
        </div>
        <div class="inputHolderWide">
          <span class="tag">Angle randomness:</span>
          <input
            id="angleGapMultInput"
            class="input input-light"
            type="number"
            min="1"
            ng-model="selectedPreset.angleGapMult"
            ng-value="angleGapMult"
            ng-change="changeSetting()"
          />
        </div>
        <md-button class="button" ng-click="resetSettings()">
          Reset Settings
        </md-button>
      </div>
      <md-button class="settingsButton" ng-click="hideSettings()">
        <md-icon class="material-icons settingsIcon">settings</md-icon>
      </md-button>
    </div>
    <div class="statHolder">
      <span class="stat">Speed: {{ values.windSpeed }} km/h</span>
      <span class="stat">Angle: {{ values.windDirection }} °</span>
    </div>
    <div class="buttonHolder">
      <md-button class="button" ng-click="startWind()">
        <md-icon class="material-icons">play_arrow</md-icon>
      </md-button>
      <md-button class="button" ng-click="endWind()">
        <md-icon class="material-icons">stop</md-icon>
      </md-button>
    </div>
  </div>
</div>
