span, button {
  font-size: 18px;
}

#windsofchangeContainer {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.visualHolder {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#windLineHolder {
  margin: -50px;
  height: 700px;
  width: 2000px;
  display: flex;
  justify-content: space-between;
}

@keyframes windLineMovement {
  from {
    margin-top: -300px;
  }
  to {
    margin-top: 0px;
  }
}

.windLine {
  animation-name: windLineMovement;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 1200px;
  width: 7px;
  border-right: dashed 10px rgba(255, 255, 255, 0.35);
}

.arrow {
  position: absolute;
  width: 20%;
  height: 20%;
}

.statsHolder {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: solid 1px white;
}
.statsHolder > * {
  margin: 5px;
}

.buttonHolder {
  width: auto;
  margin-inline: 20px;
  display: flex;
  justify-content: space-evenly;
}

.buttonHolder > .button {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
